1) Como criar uma serie a partir de um list, numpy array e dict? Print as series.

input:

```
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
```

In [10]:
import pandas as pd
import numpy as np 
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

serie_mylist = pd.Series(mylist)
serie_myarr = pd.Series(myarr)
serie_mydict = pd.Series(mydict)

print("Série a partir de lista:\n", serie_mylist)
print("Série a partir de numpy array \n", serie_myarr)
print("Série a partir de dict \n", serie_mydict)

Série a partir de lista:
 0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
Série a partir de numpy array
 0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32
Série a partir de dict
 a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

2) Combine ser1 e ser2 para formar um dataframe. Imprima o DataFrame

```
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
```

In [7]:
import pandas as pd
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
ser12 = pd.DataFrame({"Ser1": ser1, "Ser2": ser2})
print(ser12)

   Ser1  Ser2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

3) Calcule as frequência de cada elemento único de 'ser'

input:

```
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
```

'.

In [16]:
import pandas as pd
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
freq = ser.value_counts()
print(freq)

g    6
e    6
b    5
a    4
f    4
d    2
c    2
h    1
dtype: int64

4) reshape a serie 'ser' em um dataframe com 7 linhas e 5 colunas


```
ser = pd.Series(np.random.randint(1, 10, 35))
```

In [6]:
import pandas as pd 
import numpy as np 

ser = pd.Series(np.random.randint(1, 10, 35))
re_ser = pd.DataFrame(ser.values.reshape(7,5))
print(re_ser)

   0  1  2  3  4
0  2  2  3  6  5
1  8  9  9  1  7
2  1  9  9  5  3
3  7  1  3  4  1
4  6  2  6  9  4
5  5  4  8  8  9
6  9  3  8  2  6

5) Empilhe 'ser1' e 'ser2' verticalmente e horizontalmente (para formar um dataframe).

input:

```

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
```

In [14]:
import pandas as pd
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
ser_ver = ser1.append(ser2)
ser_hor = pd.DataFrame({"Ser1": ser1, "Ser2": ser2})
print("Verical: \n", ser_ver)
print("Horizontal: \n", ser_hor)

Verical:
 0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
Horizontal:
    Ser1 Ser2
0     0    a
1     1    b
2     2    c
3     3    d
4     4    e